*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 30% 70%;
  min-height: 100vh;
}
.buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}