@import "./defaults.scss";
.addbg {
     background: $dark;
     border-radius: 10px;
     padding: 20px;
     color: #fff;
     h2 {text-align: center;padding: 20px;}
}
.inputTxt {
     width: 100%;
     border: 2px solid #aaa;
     border-radius: 4px;
     margin: 8px 0;
     outline: none;
     padding: 8px;
     box-sizing: border-box;
     transition: .3s linear;
     &:focus {border-color: $focusColor;box-shadow: 0 0 8px 0 $focusColor;}
}